
:root{
    scroll-behavior: smooth;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #475828;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    
    margin:auto;
    background-color: #323E1C;
    min-height: 100vh;
    line-height: 2em;

    max-width: 650px;

    display: grid;
    grid-template-columns: repeat(1, auto);
   
}
header, section, nav{
    border-bottom: 1px solid #B8E468;
    padding: 10px 50px;
}

section{
    min-height: 50vh;
}

header{
    text-align: center;
}

table{
    width: 100%;
}

a:link, a:visited{
    color: #91FF7A;
    text-align: underline;
}
a:hover{
    color:#00FF84
    text-align;
}


nav:{
    background: #B5D9FF;  
}
nav div{
   display: nome;
}




tr:nth-child(1){
    background: #035E73;
}


section:first-child{
    background: #9CCCFF;
}
section:first-child + section{
    background: #9CCCFF;
}
section:last-child{
    background: #9CCCFF;
}


#sobre{
    color: #6B802C;
}
#produtos{
    color:  #6B802C;
}
#endereco{
    color: #6B802C;
}



a[href*"https://"]{
    color: #B8E468;
}


        

